@charset "UTF-8";

p {
	font-size: 20px;
}

header{
	background-color: lightblue;
}

footer{
	font-family: Tahoma, Verdana, sans-serif;
	text-align:center;
	background-color: #dddddd;
}

.titulo{
	font-family: Tahoma, Verdana, sans-serif;
}